body {
    text-align: center;
    font-family: 'Fredoka One', Ubuntu ;
    background-color: #379683;
}
ul, ol {
    display: contents;
}
a:link {
    color: #ff831d;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #edf5e1;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #50C878;
    background-color: transparent;
    text-decoration: overline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  h1,h2 {
      color: #edf5e1;
      text-transform: uppercase;
  }
  