@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

* {
    text-align: center;
    font-family: 'Fredoka One', Ubuntu ;
    background-color: #272323;
    color: #e3ecec;
}
ul, ol {
    display: contents;
}
a:link, a:visited{
    color: #ff831d;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #50C878;
    background-color: transparent;
    text-decoration: overline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  h1,h2 {
      color: #e3ecec;
      text-transform: uppercase;
  }
  